.about {
  min-height: 100vh;
  width: 100%;
  background-image: url("../../../assets/photos-opti/nowofunland.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;

  .info-box {
    position: absolute;
    top: calc(200vh + 20%);
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: end;
    color: black;
    z-index: 1;
    font-size: larger;

    .info-box-title {
      font-size: large;
      margin-bottom: 0.5rem;
    }
  }
}
