<div class="toolbar" role="banner">
  <div class="logo-with-description">
    <img
      width="40"
      alt="PsieMilo Logo"
      src="../assets/icons/psie-milo-logo.jpeg"
    />
    <span class="title">PsieMiło</span>
  </div>
  <div class="links">
    <a
      aria-label="PsieMilo on Booksy"
      target="_blank"
      rel="noopener"
      href="https://booksy.com/pl-pl/242715_psiemilo-groomer-salon-pielegnacji-psow_zwierzaki_12773_czechowice-dziedzice#ba_s=seo"
      title="booksy"
    >
      <img src="../assets/icons/booksy-logo.svg" alt="booksy-logo" />
    </a>
    <a
      aria-label="PsieMilo on Instagram"
      target="_blank"
      rel="noopener"
      href="https://www.instagram.com/psiemilo/"
      title="Instagram"
    >
      <img src="../assets/icons/instagram-logo.svg" alt="instagram-logo" />
    </a>
    <a
      aria-label="PsieMilo on Facebook"
      target="_blank"
      rel="noopener"
      href="https://www.facebook.com/profile.php?id=61560062077534"
      title="Facebook"
    >
      <img src="../assets/icons/facebook-logo.svg" alt="instagram-logo" />
    </a>
  </div>
</div>
