<div class="toolbar-desktop" role="banner">
  <ng-container *ngTemplateOutlet="logo"></ng-container>

  <div class="navigation">
    <button mat-flat-button (click)="scrollTo('main')">O nas</button>
    <button mat-flat-button (click)="scrollTo('services')">Usługi</button>
    <button mat-flat-button (click)="scrollTo('about')">Kadra</button>
    <button mat-flat-button (click)="scrollTo('contact')">Umów się</button>
    <button mat-flat-button (click)="scrollTo('localization')">
      Localizacja
    </button>
  </div>

  <ng-container *ngTemplateOutlet="links"></ng-container>
</div>

<div class="toolbar-mobile">
  <ng-container *ngTemplateOutlet="logo"></ng-container>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Mobile menu">
    <mat-icon role="img" class="mat-icon">menu</mat-icon>
  </button>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="scrollTo('main')">
    <span>O nas</span>
  </button>
  <button mat-menu-item (click)="scrollTo('services')">
    <span>Usługi</span>
  </button>
  <button mat-menu-item (click)="scrollTo('about')">
    <span>Kadra</span>
  </button>
  <button mat-menu-item (click)="scrollTo('contact')">
    <span>Umów się</span>
  </button>
  <button mat-menu-item (click)="scrollTo('localization')">
    <span>Localizacja</span>
  </button>
  <button mat-menu-item class="links">
    <ng-container *ngTemplateOutlet="links"></ng-container>
  </button>
</mat-menu>

<ng-template #logo>
  <div class="logo-with-description">
    <img
      width="40"
      alt="PsieMilo Logo"
      src="../assets/icons/psie-milo-logo.jpeg"
    />
    <span class="title">PsieMiło</span>
  </div>
</ng-template>

<ng-template #links>
  <div class="links">
    <a
      aria-label="PsieMilo on Booksy"
      href="https://booksy.com/pl-pl/242715_psiemilo-groomer-salon-pielegnacji-psow_zwierzaki_12773_czechowice-dziedzice#ba_s=seo"
      title="booksy"
    >
      <img src="../assets/icons/booksy-logo.svg" alt="booksy-logo" />
    </a>
    <a
      aria-label="PsieMilo on Instagram"
      href="https://www.instagram.com/psiemilo/"
      title="Instagram"
    >
      <img src="../assets/icons/instagram-logo.svg" alt="instagram-logo" />
    </a>
    <a
      aria-label="PsieMilo on Facebook"
      href="https://www.facebook.com/profile.php?id=61560062077534"
      title="Facebook"
    >
      <img src="../assets/icons/facebook-logo.svg" alt="instagram-logo" />
    </a>
  </div>
</ng-template>
