<div class="localization" id="localization">
  <div class="info-box">
    <div class="address">
      <h5 class="title">PsieMiło</h5>
      <span>Ignacego Łukasiewicza 20a</span>
      <span>43-502 Czechowice-Dziedzice</span>
    </div>

    <div class="google-maps">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20558.740845578697!2d19.0172321!3d49.9017582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716a3a11125d4b9%3A0x22bcfe203c7f8531!2zUHNpZW1pxYJv!5e0!3m2!1spl!2spl!4v1718560298183!5m2!1spl!2spl"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20558.740845578697!2d19.0172321!3d49.9017582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716a3a11125d4b9%3A0x22bcfe203c7f8531!2zUHNpZW1pxYJv!5e0!3m2!1spl!2spl!4v1718562368161!5m2!1spl!2spl"
        width="400"
        height="300"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
